body {
    background-color: rgb(191, 192, 123);
  }
  .header{
    text-align: center;
    font-size:large;
    font-family:'Times New Roman', Times, serif;
  }
  p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
  }
  /* figure { */
  /* } */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }